In [3]:
import pandas as pd
from sqlalchemy import create_engine

host='localhost'
database='sprint4'
user='root'
password='7829'

conexion = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

motor = create_engine(conexion)

nombres_tablas = ['card_status', 'transaction_products', 'transactions', 'products', 'credit_cards', 'companies', 'users']

for nombre in nombres_tablas:
	query = f'SELECT * FROM {nombre}'
	df_name = f'df_{nombre}'
	globals()[df_name] = pd.read_sql(query, con=motor)
	
card_status = df_card_status
transaction_products = df_transaction_products
transactions = df_transactions
products = df_products
credit_cards = df_credit_cards 
companies = df_companies
users = df_users

In [4]:
df_transactions

,id,card_id,business_id,timestamp,amount,declined,product_ids,user_id,lat,longitude
0,02C6201E-D90A-1859-B4EE-88D2986D3B02,CcU-2938,b-2362,2021-08-28 23:42:24,466.92,0,"71, 1, 19",92,81.91850,-12.5276
1,0466A42E-47CF-8D24-FD01-C0B689713128,CcU-4219,b-2302,2021-07-26 07:29:18,49.53,0,"47, 97, 43",170,-43.96950,-117.5250
2,063FBA79-99EC-66FB-29F7-25726D1764A5,CcU-2987,b-2250,2022-01-06 21:25:27,92.61,0,"47, 67, 31, 5",275,-81.22270,-129.0500
3,0668296C-CDB9-A883-76BC-2E4C44F8C8AE,CcU-3743,b-2618,2022-01-26 02:07:14,394.18,0,"89, 83, 79",265,-34.35930,-100.5560
4,06CD9AA5-9B42-D684-DDDD-A5E394FEBA99,CcU-2959,b-2346,2021-10-26 23:00:01,279.93,0,"43, 31",92,33.73810,158.2980
...,...,...,...,...,...,...,...,...,...,...
582,FD2E8957-414B-BEEC-E9AD-59AA7A8A6290,CcU-3232,b-2390,2022-03-13 00:27:34,78.29,0,"83, 7, 17, 89",272,-24.31950,-11.4135
583,FD89D51B-AE8D-77DC-E450-B8083FBD3187,CcU-3960,b-2494,2022-03-16 02:35:05,200.72,0,"3, 2, 73, 1",250,8.01217,-64.6715
584,FD9CBCCD-8E1E-8DA1-4606-7E3A6F3A5A65,CcU-4331,b-2302,2021-06-13 11:41:17,42.32,0,37,223,-77.86050,-172.3460
585,FE809ED4-2DB6-55AC-C915-929516E4646B,CcU-4849,b-2302,2021-11-09 21:35:40,219.83,0,"23, 43",185,-46.07510,-142.2420
586,FE96CE47-BD59-381C-4E18-E3CA3D44E8FF,CcU-2945,b-2226,2021-06-15 00:26:29,480.13,1,3,275,-21.88050,-112.5880